<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edin.vg2c">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".ApplicationContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main2Activity" />
        <activity android:screenOrientation="landscape" android:configChanges="keyboardHidden" android:name=".ChartActivity" />
        <activity android:screenOrientation="landscape" android:configChanges="keyboardHidden" android:name=".Chart2Activity"/>
        <activity android:screenOrientation="landscape" android:configChanges="keyboardHidden" android:name=".Chart3Activity"/>
        <activity android:screenOrientation="landscape" android:configChanges="keyboardHidden" android:name=".ChartActivity4"/>
        <activity android:screenOrientation="landscape" android:configChanges="keyboardHidden" android:name=".ChartActivity5"/>
        <activity android:screenOrientation="landscape" android:configChanges="keyboardHidden" android:name=".ChartActivity6"/>
    </application>

</manifest>
